body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {}

.features-container {}

/* block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #eb4107;
}

/*jumbotron*/
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;

}


.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;

}